# смотрим на характеристику 33 в трейне и на валидации

In [1]:
import pandas as pd

In [12]:
base = pd.read_csv('datasets/base.csv', index_col=0)

## посмотрим train

In [2]:
%%time
train = pd.read_csv('datasets/train.csv', index_col=0)

CPU times: total: 703 ms
Wall time: 698 ms

In [3]:
train['33'].nunique()

1568

In [5]:
train['33'].min(), train['33'].max()

(-1044.1356621947534, -137.64675674083605)

диапазон разброса внутри трейна такой же, как в base

## посмотрим validation

In [6]:
%%time
validation = pd.read_csv('datasets/validation.csv', index_col=0)

CPU times: total: 688 ms
Wall time: 689 ms

In [7]:
validation['33'].nunique()

1581

In [8]:
validation['33'].min(), validation['33'].max()

(-1044.1356621947534, -137.64675674083605)

# добавляем столбец с классом

In [14]:
delta = (base['33'].max() - base['33'].min()) / 5
delta

181.53295447841418

In [26]:
train['class'] = abs(train['33'] // delta)

In [27]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,64,65,66,67,68,69,70,71,Target,class
Id,,,,,,,,,,,,,,,,,,,,,
0-query,-53.882748,17.971436,-42.117104,-183.93668,187.517490,-87.144930,-347.360606,38.307602,109.085560,30.413513,...,-155.80257,-101.965943,65.903790,34.457500,62.642094,134.763600,-415.750254,-25.958572,675816-base,2.0
1-query,-87.776370,6.806268,-32.054546,-177.26039,120.803330,-83.810590,-94.572749,-78.433090,124.915900,140.331070,...,-151.69771,-1.638704,68.170876,25.096191,89.974976,130.589630,-1035.092211,-51.276833,366656-base,2.0
2-query,-49.979565,3.841486,-116.118590,-180.40198,190.128430,-50.837620,26.943937,-30.447489,125.771164,211.607820,...,-169.14620,82.144186,66.008220,18.400496,212.409730,121.931470,-1074.464888,-22.547178,1447819-base,6.0
3-query,-47.810562,9.086598,-115.401695,-121.01136,94.652840,-109.255410,-775.150134,79.186520,124.003100,242.650650,...,-145.41675,93.990981,64.131350,106.061920,83.178760,118.277725,-1074.464888,-19.902788,1472602-base,6.0
4-query,-79.632126,14.442886,-58.903397,-147.05254,57.127068,-16.239529,-321.317964,45.984676,125.941284,103.392670,...,-196.09207,-117.626337,66.926220,42.456170,77.621765,92.479930,-1074.464888,-21.149351,717819-base,5.0

In [28]:
train['class'].value_counts()

class
5.0    23528
3.0    20667
2.0    15783
4.0    15170
6.0    14181
1.0    10671
Name: count, dtype: int64

In [29]:
for class_num in train['class'].unique():
    print(class_num, 
          train[train['class'] == class_num]['33'].min(), 
          train[train['class'] == class_num]['33'].max()
         )

2.0 -362.98512080354766 -181.86738037098104
6.0 -1044.1356621947534 -907.9479196157722
5.0 -907.535054542443 -726.3203587341495
4.0 -725.9950268015127 -544.9951684392474
3.0 -544.5988144251794 -363.3456839409808
1.0 -181.49777516094835 -137.64675674083605

In [30]:
validation['class'] = abs(validation['33'] // delta)
validation['class'].value_counts()

class
5.0    23376
3.0    20703
2.0    15709
4.0    15102
6.0    14415
1.0    10695
Name: count, dtype: int64

In [31]:
for class_num in validation['class'].unique():
    print(class_num, 
          validation[validation['class'] == class_num]['33'].min(), 
          validation[validation['class'] == class_num]['33'].max()
         )

2.0 -362.98512080354766 -181.86738037098104
6.0 -1044.1356621947534 -907.9479196157722
4.0 -725.9950268015127 -544.9500348276199
3.0 -544.5988144251794 -363.3456839409808
5.0 -907.535054542443 -726.3203587341495
1.0 -181.38011023570863 -137.64675674083605