In [4]:
import faiss
import pandas as pd

In [3]:
path = r"C:\Users\Admin\Documents\УЧЕБА\20 мастерская 2\notebooks\datasets\base_2.0.csv"

In [5]:
base_2_0 = pd.read_csv(path, index_col=0)

In [6]:
base_2_0.head()

,0,1,2,3,4,5,6,7,8,9,...,63,64,65,66,67,68,69,70,71,class
Id,,,,,,,,,,,,,,,,,,,,,
1-base,-34.562202,13.332763,-69.787610,-166.53348,57.680607,-86.098370,-85.076666,-35.637436,119.718636,195.234190,...,41.100000,-157.829400,-94.446806,68.202110,24.346846,179.93793,116.83400,-84.888941,-59.524610,2.0
15-base,-133.391540,4.454095,-127.943360,-123.74695,143.213870,-38.265465,-224.939111,-84.442410,127.770160,50.926636,...,54.980003,-242.594910,103.561070,70.544760,-54.223568,142.79533,93.46864,-1074.464888,-108.886154,2.0
28-base,-70.990395,11.630401,-41.357796,-150.95459,113.545710,-73.104610,-123.035374,16.700724,113.959030,122.485850,...,7.869986,-109.498370,118.937829,67.420006,4.512707,71.04379,175.38206,-876.851665,-93.377270,2.0
29-base,-73.058000,1.809567,-77.256340,-135.96242,135.172420,-67.672880,-678.080715,59.897070,133.457660,43.513947,...,45.811398,-225.928920,-23.697577,64.801300,118.413540,119.90109,114.63611,-918.694539,-61.130566,2.0
31-base,-117.738390,7.839410,-16.941616,-116.99350,138.735870,-128.014620,-729.705314,37.301200,119.826035,151.064670,...,24.178259,-106.883545,36.113227,67.669930,102.307570,67.20783,104.94484,-245.283454,-31.177315,2.0